/* ESTILOS GENÉRICOS */

.label {
	font-size: 12px;
	font-weight: bold;
	color: grey;
}
.content {
	margin: 0 30px 0 0;
}

.margin-top {margin-top: 20px;}
.margin-bottom {margin-bottom: 20px;}
.margin-left {margin-left: 20px;}
.margin {margin:20px;}

.center {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.hidden{
	display: none;
}

.title {
	font-size: 20px;
	font-weight: bold;
	color: grey;
}

/* ESTILOS DA NAV LATERAL */

.icon-espaco {
	margin-right: 8px;
}


.custom-spinner-blue {
	color:#2F5671;
	font-size: 36px;
}

.custom-spinner-primary {
	color:#337ab7;
	font-size: 36px;
}

.custom-spinner-green {
	color:#008000;
	font-size: 36px;
}
.custom-spinner-red {
	color:red;
	font-size: 36px;
}

#deslogar {
    cursor: pointer;
}

.logo-text {
	font-weight: bold;
	font-size: 2em;
	color: white;
	text-transform: uppercase;
}

.logo-text:hover, .logo-text:focus{
	color:white;
	text-decoration: none;
	font-weight: bold;
}

#side-bar {
	background:#2E3641;
	padding:0;
	transition: all 0.5s;
	min-height: 1400px;
	max-height:100%;
}

.ul-marcada {
	background:#2F5671;
}

#collapse-treinamentos ul:hover{
	background: none;
}
#collapse-treinamentos ul li{
	color: white;
	font-size: .9em;
}
#collapse-treinamentos ul li:hover{
	font-size: 1em;
}

#conteudo {
	transition: all 0.5s;
}

.rotate{
	transform:rotate(180deg);
}


#icone {
	cursor: pointer;
}

.text-center {
	justify-content: center;
	align-items: center;
}

.fa-arrow-right{
	font-size: 2em;
	color: white;
	transition: all 0.5s;
}
.navigation h3 {
	background:#2F5671;
	padding:0.7em 0;
	color:#fff;
	font-size:1.35em;
	font-weight:600;
	padding-left:2.5em;
	margin-bottom:1em;
}
.navigation ul {
	padding-left:4em;
	padding-bottom:0.25em;
	padding-top:0em;
	cursor: pointer;
}
.navigation ul:hover {
	background: #2F5671;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.navigation ul li {
	display:inline-block;
	margin:5px 0;
}
.navigation ul li a {
	color:#fff;
	font-size:1.3em;
	font-weight:300;
	text-decoration:none;
	letter-spacing:1px;
}
.navigation ul li a:hover {
	font-weight: bold;
}
.navigation {
	padding-bottom: 2em;
}

.logo {
  padding: 1.3em 0;
  display: flex;
  justify-content: space-around;
}


/* FIM DOS ESTILOS DA NAV LATERAL */


/* INÍCIO DOS ESTILOS DO CONTEÚDO À ESQUERDA */

.ultimo-treinamento {
	margin-top: 5em;
	border: 2px solid grey;
	border-radius: 10px;
	background:#172b38;
}

.div-titulo-ultimo-tre {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 30px 0;
}

.div-titulo-ultimo-tre h4 {
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.div-conteudo-ultimo-tre h4 {
	margin: 0 0 10px 10px;
	color: white;
	font-weight: normal;
}

.btn-visualizar-treinamento {
	background: white;
	color: #172b38;
	font-weight: bold;
	cursor:pointer;
	transition: .1s linear all;
}

.btn-visualizar-treinamento:hover {
	padding:0.8em;
}

.alert{
	margin-top:10px;
	font-size: bold;
}

.member {
  width: 100%;
  background: #2F5671;
  padding: 1em 0 1em 0;
  float: left;
  min-height: 110px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.member h4 {
	font-size: 1em;
	color: white;
	margin: 0;
}
.member p a {
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
	letter-spacing: 2px;
	text-decoration: none;
}

.dropdown-toggle {
	cursor:pointer;
}

.dropdown:focus {
	outline: none;
}

.produtos-vendidos {
	background:#e05d6f;
	padding:1em;
	cursor: pointer;
	border-radius: 10px;
	transition: 1s all;
}

.produtos-vendidos i {
	color: white;
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 10px;
}
.produtos-vendidos a {
	color: white;
	font-weight: bold;
	
}
.produtos-vendidos p {
	font-size: 2em;
	font-weight: bold;
	color: white;
	text-align: center;
}
.produtos-pedidos {
	background:#236f62;
	padding:1em;
	cursor: pointer;
	border-radius: 10px;
	transition: 1s all;
}

.produtos-pedidos i {
	color: white;
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 10px;
}
.produtos-pedidos a {
	color: white;
	font-weight: bold;
	
}
.produtos-pedidos p {
	font-size: 2em;
	font-weight: bold;
	color: white;
	text-align: center;
}

.produtos-pedidos:hover{
	background: #1c584e;
}

.novos-usuarios {
	background:#ffb653;
	padding:1em;
	cursor: pointer;
	border-radius: 10px;
	transition: 1s all;
}

.novos-usuarios i {
	color: white;
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 10px;
}
.novos-usuarios a {
	color: white;
	font-weight: bold;
	
}
.novos-usuarios p {
	font-size: 2em;
	font-weight: bold;
	color: white;
	text-align: center;
}


.novos-usuarios:hover{
	background: #cc9142;
}

.icon {
	float:left;
	margin-right:5%;
}


.fa-cog {
	font-size: 4em;
	color: white;	
}

.fa-user-circle {
	font-size: 2.5em;
}

.drop-config{
	list-style-type: none;
}
.drop-config li {
	margin-top: 10px;
}
.drop-config li a {
	color: #2E3641;
	font-weight: bold;
	font-size: 1.2em;
}

.produtos-vendidos a,.sales a,.users a, .produtos-pedidos a, .novos-usuarios a {
	float:right;
}

/* FIM DOS ESTILOS DO CONTEÚDO À ESQUERDA */


/***********************************************************************************/
/****************** ESTILOS DAS PÁGINAS DE BEBIDAS *********************************/
/***********************************************************************************/

.btn-adicionar {
	background: #008000;
	color: white;
	font-weight: bold;
	border: 2px solid #008000;
	transition: .8s all;
}

.btn-adicionar:hover, .btn-adicionar:active, .btn-adicionar:focus{
	color: #008000;
	background:white;
}

.btn-filtrar {
	background: #2F5671;
	color: white;
	font-weight: bold;
	border: 2px solid #2F5671;
	transition: .8s all;
}

.btn-filtrar:hover, .btn-filtrar:focus, .btn-filtrar:active{
	color: #2F5671;
	background:white;
}

.btn-auxiliar {
	background: #00994c;
	color: white;
	font-weight: bold;
	border: 2px solid #00994c ;
	transition: .8s all;
}

.btn-auxiliar:hover, .btn-auxiliar:focus{
	color: #00994c;
	background:white;
}
.btn-voltar {
	background: red;
	color: white;
	font-weight: bold;
	border: 2px solid red;
	transition: .8s all;
}

.btn-voltar:hover, .btn-voltar:focus, .btn-voltar:active{
	color: red;
	background:white;
}

.tr-estilo {
	background: #2F5671;
	color: white;
	font-weight: bold;
}

.estoque-verde{
	background: #48c072;
	color: white;
	font-weight: bold;
}

.estoque-vermelho {
	background: #cc0000;
	color: white;
	font-weight: bold;

}

.estoque-laranja {
	background: #ffa500;
	color: white;
	font-weight: bold;
}


.imagen img {
	width: 200px;
	height: 100px;
	border-radius: 10px;
	margin-top: 20px;
}

.imagens {
	border-bottom: 2px solid grey;
	padding-bottom: 20px;
	margin-bottom: 20px;
}


